# Environment variables
.env
BACKEND/.env

# Python
__pycache__/
*.py[cod]
*$py.class
BACKEND/venv/
venv/
*.sqlite3
*.db
report_*.pdf

# Node / React
FRONTEND/node_modules/
node_modules/
FRONTEND/dist/
dist/
.DS_Store
